extends ../../layouts/default.pug
include ../../mixins/select-tree.pug

block content 
    if(data)
        h1(class="text-center") Chi tiết danh mục
        div(class="product-row")
            div(class="col-md-6")
                if(data.thumbnail)
                    img(
                        src=data.thumbnail
                        style="width: 350px"
                    )
            div(class="col-md-6")
                h2 Tiêu đề: #{data.title}
                p Danh mục cha: 
                    if(records)
                        +display-tree(records, 1, data.parent_id)
                p Mô tả: !{data.description}
                p Vị trí: #{data.position}
                p Ngày tạo: #{data.createdAt}
                p Ngày cập nhật: #{data.updatedAt}
            
            div(class="col-md-12")
                a(
                    href=`${prefixAdmin}/categories/edit/${data.id}`
                    class="btn btn-primary"
                ) Chỉnh sửa
                a(
                    href=`${prefixAdmin}/categories/delete/${data.id}`
                    class="btn btn-danger"
                ) Xóa
    else
        h1(class="text-center") Danh mục không tồn tại


    script(src="/admin/js/category.js")