extends ../../layouts/default.pug
include ../../mixins/table-tree.pug

block content
    h1 Danh mục sản phẩm 

    .card.mb-3 
        .card-header Danh sách danh mục
            .card-body 
                .row 
                    .col-8 
                    .col-4 
                        a(
                            href=`${prefixAdmin}/categories/create`,
                            class='btn btn-primary float-right'
                        ) Thêm mới


                table(
                            class="table table-bordered table-striped"
                            checkbox-multi
                        )
                            thead
                                tr
                                    th 
                                        input(
                                            type="checkbox"
                                            name="checkall"
                                            id="checkall"
                                            class="checkall"
                                        )
                                    th STT
                                    th Tên sản phẩm
                                    th Ảnh sản phẩm
                                    th Vị trí
                                    th Trạng thái
                                    th Hành động
                            tbody
                                +table-tree(records)
