extends ../../layouts/default.pug

block content 
    if(product)
        h1(class="text-center") Chi tiết sản phẩm
        div(class="row")
            div(class="col-md-6")
                if(product.thumbnail)
                    img(
                        src=product.thumbnail
                        style="width: 350px"
                    )
            div(class="col-md-6")
                h2 Tiêu đề: #{product.title}
                p Mô tả: #{product.description}
                p Giá: #{product.price}
                p Giảm giá: #{product.discountPercentage}%
                p Số lượng: #{product.stock}
                p Trạng thái: 
                    if(product.status === "active")
                        span(class="badge badge-success") Đang kinh doanh
                    else
                        span(class="badge badge-danger") Ngừng kinh doanh
                p Vị trí: #{product.position}
                p Ngày tạo: #{product.createdAt}
                p Ngày cập nhật: #{product.updatedAt}
            
            div(class="col-md-12")
                a(
                    href=`${prefixAdmin}/products/edit/${product.id}`
                    class="btn btn-primary"
                ) Chỉnh sửa
                a(
                    href=`${prefixAdmin}/products/delete/${product.id}`
                    class="btn btn-danger"
                ) Xóa
    else
        h1(class="text-center") Sản phẩm không tồn tại

    //- if(product.title)
    //-     h1(class="mb-4") #{product.title}
    //- if(product.price)
    //-     div(class="mb-4") Giá: <b> #{product.price} </b>
    //- if(product.discountPercentage)
    //-     div(class="mb-4") Giảm giá: <b>#{product.discountPercentage}%</b>
    //- if(product.stock)
    //-     div(class="mb-4") Số lượng: <b>#{product.stock}</b>
    //- if(product.thumbnail)
    //-     div(class="mb-4")
    //-         img(
    //-             src=product.thumbnail 
    //-             style="width: 100px"
    //-         )
    //- if(product.status)
    //-     div(class="mb-4")
    //-         span Trạng thái: 
    //-         if(product.status === "active")
    //-             span(class="badge badge-success") Đang kinh doanh
    //-         else
    //-             span(class="badge badge-danger") Ngừng kinh doanh

    

    script(src="/admin/js/product.js") 