footer.footer
    .container
        .row
            // Cột 1: Bản quyền
            .col-3
                h3 Đây là footer
                p 
                    | &copy; #{settingGeneral.copyright}
            
            // Cột 2: Liên kết nhanh
            .col-3
                h3 Liên kết nhanh
                ul.footer-links
                    li
                        a(href="/about") Giới thiệu
                    li
                        a(href="/contact") Liên hệ
                    li
                        a(href="/privacy") Chính sách bảo mật
                    li
                        a(href="/services") Dịch vụ
            
            // Cột 3: Liên hệ
            .col-3
                h3 Liên hệ
                address
                    p
                        | Địa chỉ: #{settingGeneral.address}
                    p
                        | Điện thoại: 
                        a(href="tel:#{settingGeneral.phone}") #{settingGeneral.phone}
                    p
                        | Email: 
                        a(href="mailto:#{settingGeneral.email}") #{settingGeneral.email}
                    p 
                        | Website: 
                        a(href="https://#{settingGeneral.websiteName}" target="_blank") #{settingGeneral.websiteName}
            
            // Cột 4: Theo dõi chúng tôi
            .col-3
                h3 Theo dõi chúng tôi
                .social-icons
                    a(href="https://www.google.com" target="_blank" title="Google")
                        i.fab.fa-google
                    a(href="https://github.com" target="_blank" title="GitHub")
                        i.fab.fa-github
                    a(href="https://facebook.com" target="_blank" title="Facebook")
                        i.fab.fa-facebook
