extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block content
    +alert-success(5000)
    
    .card.mb-3
        .card-header Tạo bài viết
        .card-body
            form(
                action=`${prefixAdmin}/articles/create` 
                id="form-create-article"
                method="POST" 
                enctype="multipart/form-data"
            )
                div(class="form-group")
                    label(for="title") Tiêu đề
                    input(
                        type="text"
                        class="form-control"
                        id="title"
                        name="title"
                        placeholder="Nhập tiêu đề bài viết"
                        required
                    )
                div(class="form-group")
                    label(for="author") Tác giả
                    input(
                        type="text"
                        class="form-control"
                        id="author"
                        name="author"
                        placeholder="Nhập tên tác giả"
                        required
                    )
                div(class="form-group")
                    label(for="article_category_id") Thể loại
                    input(
                        type="text"
                        class="form-control"
                        id="article_category_id"
                        name="article_category_id"
                    )
                        

                div(class="form-group")
                    label(for="desc") Mô tả
                    textarea(
                        class="form-control textarea-mce"
                        id="desc"
                        name="description"
                        rows="5"
                        placeholder="Nhập mô tả bài viết"
                    )
                div(class="form-group")
                    label(for="content") Nội dung
                    textarea(
                        class="form-control textarea-mce"
                        id="content"
                        name="content"
                        rows="5"
                        placeholder="Nhập nội dung bài viết"
                    )
                div(class="form-group" upload-image)
                    label(for="thumbnail") Ảnh bài viết
                    input(
                        type="file"
                        class="form-control-file"
                        id="thumbnail"
                        name="thumbnail"
                        accept="image/*"
                        upload-image-input
                    )
                    div(class="image-container")
                        img(
                            src=""
                            upload-image-preview
                            class="image-preview"
                        )
                        button(
                            type="button"
                            class="delete-image-preview"
                            delete-image-preview
                        ) X
                
                div(class="form-group")
                    label(for="status") Trạng thái
                    select(
                        name="satus"
                        class="form-control"
                    ) 
                        option(value="draft") Nháp
                        option(value="published") Xuất bản 
                        option(value="pending") Chờ duyệt
                    

                div(class="form-group")
                    button(
                        type="submit"
                        class="btn btn-success"
                    ) Tạo bài viết
