extends ../../layouts/default.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug
include ../../mixins/moment.pug

block content
    +alert-success(5000)

    .card.mb-3 
            .card-header Bộ lọc và tìm kiếm
            .card-body
                .row
                    .col-6
                        h1 test
                    .col-6
                        +search(keyword)

    .card.mb-3 
            .card-header Sắp xếp 
            .card-body 
                .row 
                    .col-4 
                        +sort()
    
    .card.mb-3 
        .card-header Danh sách bài viết
        .card-body 
            .row 
                .col-8
                    a(
                        href=`${prefixAdmin}/articles/create`
                        class="btn btn-outline-success"
                    ) Tạo bài viết

            table(
                class="table table-bordered table-striped"
                checkbox-multi
            )
                thead
                    tr
                        th STT
                        th Tiêu đề
                        th Hình ảnh
                        th Tác giả
                        th Danh mục
                        th Ngày tạo
                        th Trạng thái
                        th Hành động
                tbody
                    each item, index in articles
                        tr
                            td= index + 1
                            td= item.title
                            td
                                img(
                                    src=item.thumbnail, 
                                    alt=item.title, 
                                    width="100px",
                                    height="auto"
                                )
                            td= item.author
                            td= item.article_Category_id
                            td= moment(item.created_at).format("DD/MM/YYYY")
                            td
                                if(item.status == "draft")
                                    a(
                                        href="javascript:;"
                                        data-status="draft"
                                        data-id=item.id
                                        class="btn btn-warning btn-sm btn-status"
                                    ) Bản nháp
                                else if(item.status == "published")
                                    a(
                                        href="javascript:;"
                                        data-status="published"
                                        data-id=item.id
                                        class="btn btn-success btn-sm btn-status"
                                    ) Đã xuất bản

                            td  
                                a(
                                    href=`${prefixAdmin}/articles/detail/${item.id}`
                                    class="btn btn-secondary btn-sm"
                                ) Xem
                                a(
                                    href=`${prefixAdmin}/articles/edit/${item.id}`
                                    class="btn btn-warning btn-sm"
                                ) Sửa
                                a(
                                    href="${prefixAdmin}/articles/delete/${item.id}"
                                    data-id=item.id
                                    class="btn btn-danger btn-sm btn-delete"
                                ) Xóa
                                


