.sider
    .inner-menu 
        ul
            li
                a(href=`${prefixAdmin}/dashboard`) Dashboard
            li
                a(href=`${prefixAdmin}/products`) Sản phẩm
            li
                a(href=`${prefixAdmin}/categories`) Danh mục
            li
                a(href=`${prefixAdmin}/roles`) Nhóm quyền
            li
                a(href=`${prefixAdmin}/roles/permissions`) Phân quyền
            li
                a(href=`${prefixAdmin}/settings`) Cài đặt
            li
                a(href=`${prefixAdmin}/logout`) Đăng xuất
